<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intro to Angular Material</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <!-- Roboto style font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500' rel='stylesheet' type='text/css'>
    <!-- Custom style sheet -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body ng-app="myApp">

    <div style="height:100vh;">
        <div class="flex-boxes" >
            <div layout="row" layout-xs="column">
                <div flex>item in row</div>
                <div flex>item in row</div>
                <div layout="column" flex>
                    <div flex>Item in column</div>
                    <div flex>Item in column</div>
                </div>
            </div>
            <div layout="column">
                <div flex>item in column</div>
                <div flex>item in column</div>
            </div>
        </div>
        <div class="flex-classes">
            <div layout="row" layout-wrap>
                <div flex="20" flex-order="-1">Item #1  [flex="20"]</div>
                <div flex="60" flex-order="0" flex-order-xs="3">Item #2 [flex="60"]</div>
                <div flex="40" flex-order="1">Item #3</div>
                <div flex="" flex-order="2">Item #4</div>
                <div flex="" flex-order="3" flex-order-xs="0">Item #5</div>
            </div>
        </div>
        <div class="flex-classes flex-offsets">
            <div layout="row" layout-wrap>
                <div flex="20" flex-order="-1" flex-offset="10">Item #1  [flex="20"]</div>
                <div flex="60" flex-order="0">Item #2 [flex="60"]</div>
                <div flex="10" flex-order="1">Item #3</div>
            </div>
        </div>
        
    </div>
    <div style="height:100vh; background-color: lightgreen">
        <div layout="row" layout-align="center end" style="height:100%;">
            <div>Hola #1</div>
            <div>Hola #2</div>
            <div>Hola #3</div>
            <div>Hola #4</div>
        </div>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <!--Angular Controllers-->
    <script type="text/javascript" src="../js/controllers/layout-container.js"></script>

</body>
</html>