<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Intro to Angular Material</title>
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">
    <!-- Roboto style font -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500' rel='stylesheet' type='text/css'>
    <!-- Custom style sheet -->
    <link rel="stylesheet" href="../css/style.css">
</head>
<body ng-app="myApp">
    <div layout="column" ng-controller="firstController">
        <md-toolbar class="md-warn">
            <div class="md-toolbar-tools">
                <h2 class="md-flex">Toolbar: md-warn</h2>
            </div>
        </md-toolbar>
        
        
        <md-content >
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, possimus amet quod ab nesciunt modi sit eius eos a dolores ullam rem reprehenderit magnam consequatur porro qui pariatur delectus provident.
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis libero ullam debitis nostrum, aut quisquam facere similique iure eum mollitia nemo suscipit, distinctio obcaecati corrupti enim dignissimos dolores aliquid ab.</div>
            <div>Accusamus nemo itaque modi, dolor doloremque, accusantium totam harum voluptate impedit, a corporis cum distinctio. Officiis omnis inventore placeat, similique porro dolore. Earum ipsum fugiat, dolor molestiae velit debitis? Aliquid!</div>
        </md-content>
    </div>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="../node_modules/angular-messages/angular-messages.min.js"></script>
    <!-- Angular Material Library -->
    <script src="../node_modules/angular-material/angular-material.min.js"></script>
    <!--Angular Controllers-->
    <script type="text/javascript" src="../js/controllers/md-content.js"></script>

</body>
</html>